<div class="w-full h-full bg-pattern flex flex-col items-center justify-center">
  <div class="overflow-hidden w-full max-w-xl">
    <!--| LOGO |-->
    <div class="p-6 pb-0 flex flex-col items-center justify-center">
      <div class="fill-current text-center">
        <img class="w-16" src="assets/images/logo/nxie.logo.png">
      </div>
    </div>
    <!--| HEADER |-->
    <div class="text-center mt-4">
      <h2 class="title m-0">Register for an account</h2>
      <h4 class="body-2 text-secondary m-0">Simply fill out the form below</h4>
    </div>
    <!--| REGISTER FORM |-->
    <div [formGroup]="form" class="p-6 flex flex-col gap-4">
      <div>
        <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
          <!--| USERNAME |-->
          <mat-form-field class="flex-auto">
            <mat-label>Username</mat-label>
            <input formControlName="username" matInput #username required>
          </mat-form-field>
          <!--| EMAIL |-->
          <mat-form-field class="flex-auto">
            <mat-label>E-Mail</mat-label>
            <input formControlName="email" matInput #email required>
          </mat-form-field>
        </div>
        <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
          <!--| FIRSTNAME |-->
          <mat-form-field class="flex-auto">
            <mat-label>Firstname</mat-label>
            <input formControlName="firstName" matInput #firstName required>
          </mat-form-field>
          <!--| LASTNAME |-->
          <mat-form-field class="flex-auto">
            <mat-label>Surname</mat-label>
            <input formControlName="lastName" matInput #lastName required>
          </mat-form-field>
        </div>
        <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
          <!--| AVATAR |-->
          <mat-form-field class="flex-1 w-full">
            <mat-label>Avatar</mat-label>
            <input formControlName="photoURL" matInput #photoURL>
          </mat-form-field>
          <!--| COVER |-->
          <mat-form-field class="flex-1 w-full">
            <mat-label>Cover</mat-label>
            <input formControlName="coverURL" matInput #coverURL>
          </mat-form-field>
        </div>
        <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
          <mat-form-field class="flex-1 w-full">
            <!--| PASSWORD |-->
            <mat-label>Password</mat-label>
            <input [type]="inputType" formControlName="password" matInput #password required>
            <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
              <mat-icon *ngIf="visible" svgIcon="visibility"></mat-icon>
              <mat-icon *ngIf="!visible" svgIcon="visibility_off"></mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="flex-1 w-full">
            <mat-label>Password (Confirm)</mat-label>
            <input [type]="inputType" formControlName="passwordConfirm" matInput #password required>
            <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
              <mat-icon *ngIf="visible" svgIcon="visibility"></mat-icon>
              <mat-icon *ngIf="!visible" svgIcon="visibility_off"></mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
      <div class="flex items-center justify-center">
        <mat-checkbox class="caption">I accept the <a>terms and conditions.</a></mat-checkbox>
      </div>
      <button (click)="register()" color="primary" mat-raised-button type="button">
        CREATE ACCOUNT
      </button>
      <p class="text-secondary text-center">
        Already have an account?<br/>
        <a [routerLink]="['/login']">Login here</a>
      </p>
    </div>
  </div>
</div>
