######################################################################
# THIS GITIGNORE FILE IS FOR BOTH THE FRONTEND AND BACKEND REPOS     #
######################################################################

######################################################################
# --------------------------- CREATE  -------------------------------#
# THESE ARE USED FOR SECURELY STORING SENSITIVE INFORMATION IN THE   #
# ENVIRONMENT VARIABLES, SO YOU WILL NEED TO CREATE THEM.            #
######################################################################


######################################################################
# ------------------------- DONT CREATE -----------------------------#
######################################################################

/frontend/node_modules
/frontend/dist
/frontend/.env

/backend/node_modules
/backend/dist
/backend/.env

/peer/node_modules
/peer/dist
/peer/.env

######################################################################
# --------------------------- IGNORE  -------------------------------#
# THESE ARE USED FOR IGNORING FILES AND FOLDERS THAT ARE NOT NEEDED  #
# IN THE REPOSITORY. EVERYTHING IN THESE FILES WILL BE IGNORED.      #
# AND ARE IGNORE DEFAULTS.                                           #
######################################################################
/tmp
/out-tsc
/bazel-out
/alpha_portal/node_modules
/node_modules
npm-debug.log
yarn-error.log
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
.DS_Store
Thumbs.db
.angular
