/* Importing Nebular SCSS file. */
@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;
/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
html {
  position: relative;
  min-height: 100%; //overflow: scroll; //overflow-x: hidden;
  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
}
body {
  margin: 0;
  font-family: Poppins, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* Importing Nebular SCSS file. */
@include nb-install() {
  @include nb-theme-global();
};
