<div class="wrapper">
  <div>
    <mat-card class="bg-transparent shadow-none">
      <mat-card-header class="text-center">
        <div class="spacer"></div>
        <mat-card-subtitle>--| THE 7 DAY PROJECT |--</mat-card-subtitle>
        <mat-card-title class="text-6xl">NXFINITY</mat-card-title>
        <mat-card-subtitle>DATE: {{ todayDate | date }}</mat-card-subtitle>
        <mat-card-subtitle>BUILD VERSION: {{ buildVersion }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <div class="w-full">
    </div>
  </div>
</div>
