<div class="w-full h-full bg-pattern flex flex-col items-center justify-center">
  <div class="overflow-hidden w-full max-w-xl">
    <!--| LOGO |-->
    <div class="p-6 pb-0 flex flex-col items-center justify-center">
      <div class="fill-current text-center">
        <img class="w-16" src="assets/images/logo/nxfinity-logo.png">
      </div>
    </div>
    <!--| HEADER |-->
    <div class="text-center mt-4">
      <h2 class="title m-0">Account Verification</h2>
      <h4 class="body-2 text-secondary m-0">Verify your account</h4>
    </div>
    <!--| REGISTER FORM |-->
    <div [formGroup]="form" class="p-6 flex flex-col gap-4">
      <div>
        <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
          <!--| USERNAME |-->
          <mat-form-field class="flex-auto">
            <mat-label>Verification Code</mat-label>
            <input formControlName="verifyUser" matInput #verifyUser required>
          </mat-form-field>
        </div>
      </div>
      <button (click)="verify()" color="primary" mat-raised-button type="button">
        Verify Account
      </button>
    </div>
  </div>
</div>
