mat-sidenav-container {
  height: calc(100vh - 65px);
  mat-sidenav {
    width: 300px;
    color: white;
    text-align: center;
    p {
      color: #ffffff;
      font-size: 10px;
    }
    .list {
      .link {
        color: white;
        text-decoration: none;
        display: block;
        padding: 10px 0 10px 20px;

        &:hover {
          background-color: rgb(255, 60, 0);
          color: white;
        }
        a:hover {
          background-color: rgb(255, 60, 0);
          color: white;
        }
      }
    }
  }
}

.content {
  //height: calc(100vh - 98px);
  //border-radius: 10px;
  //margin: 16px 16px 16px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  //font-size: 2rem;
  color: lightgray;
}

.holy-grail {
  min-height: 100vh;
}

.holy-grail,
.holy-grail-body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.holy-grail-content {
  flex: 1 1 auto;
}

.holy-grail-sidebar-1 {
  order: -1;
}

@media (min-width: 768px) {
  .holy-grail-body {
    flex-direction: row;
  }
  .hg-sidebar {
    flex: 0 0 260px;
  }
}
