<mat-toolbar>
  <div class="flex flex-column justify-content-between">
    <img (click)="toggleSidenav()" [routerLink]="'/'" alt="Logo" class="w-8 select-none" src="assets/images/logo/nxie.logo.png"/>
  </div>
  <div class="container">
    <div class="flex flex-row justify-content-between">
      <div class="flex flex-row">
        <button mat-button>Browse</button>
        <button mat-button>Following</button>
        <button mat-button>Top Content</button>
      </div>
    </div>
  </div>
  <div class="flex-1"></div>
  <button mat-button>Social</button>
  <button mat-button>Blog</button>
  <button mat-icon-button>
    <mat-icon svgIcon="mat_outline:language"></mat-icon>
  </button>
  <button mat-icon-button routerLink="/login">
    <mat-icon svgIcon="heroicons_solid:login"></mat-icon>
  </button>
</mat-toolbar>
